# Ignore node_modules directory
/node_modules/

# Ignore dist directory
/dist/

# Ignore Tweego installation folder
/.tweego

# Ignore .env files as they usually contain sensitive information
/.env

# Ignore npm debug logs and .npm directory
npm-debug.log
.npm/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE specific config files
/.vscode/
/.idea/

# Ignore TypeScript compiled files
**/*.js
**/*.js.map
**/*.d.ts

!webpack.config.js
!jest.config.js
!setup-tweego.js
!run-tweego.js